body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
color: rgb(175, 102, 211);  
background-color: rgb(231, 188, 218);
}
.p1 {
    color: brown;
}
.p2{
    color: rgb(183, 159, 206);
}
.i1{
    border: 3px;
    border-radius: 25px;
    

}
.i2{
    border: 3px;
    border-radius: 25px;
    

}
.i3{
    border: 3px;
    border-radius: 25px;
    

}
.i4{
    border: 3px;
    border-radius: 25px;
   

}